{% extends 'questions/base.html' %}
{% block title %} {{question.title}}{% endblock %}

{% block content %}

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">{{question.title}}</h5>
        <p class="card-text">{{question.text}}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-sm-between">
        <div class="p-2 bd-highlight"><a href="">@{{question.author.username}}</a></div>
        <div class="p-2 bd-highlight">{{question.created_at}}</div>
    </div>
</div>

<ul class="list-group  mt-2">
    {% if answers %}
    {% for answer in answers %}
    <li class="list-group-item">
        <div class="w-100">
            <small><a href="">@{{answer.author.username}}</a></small>
            <small class="text-muted">{{answer.created_at}}</small>
        </div>
        <p class="mb-1">{{answer.text}}</p>

    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">
        No answers.
    </li>
    {% endif %}

    <li class="list-group-item">
        <h5>Опубликовать ответ:</h5>

        <form action="{% url 'question' question.id %}" method="post">
            {% csrf_token %}
            {% include "questions/form.html" with form=answer_form %}
            <input class="btn btn-primary" type="submit" value="Опубликовать ответ">
        </form>
    </li>
</ul>
{% endblock %}